.code-container{
    padding: 5px;
    background-color: burlywood;
    border: 1px solid;
    margin: 5px;
    position: relative;
}
.code{
    font-size: large;
    font-family: cursive;
    width: 80%;
}
.execute{
    font-size: larger;
    position: absolute;
    right: 0;
    bottom: 0;
}