.code-container{
    padding: 5px;
    background-color: burlywood;
    border: 1px solid;
    margin: 5px;
}
.code{
    font-size: large;
    font-family: cursive;
}
.execute{
    font-size: larger;
    float: right;
}